<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/main.css">
        <title>Web project</title>
    </head>
    <body>
        <header class="header">
            <div class="container">
                <h1 class="header_text">Библиотека компонентов</h1>
                <button class="button button_primary">Вход</button>
                <button class="button button_secondary">Регистрация</button>
            </div>
        </header>
        <div class="grid_background">
            <div class="container">
                <div class="card-grid">
                    <a class="card">
                        <div class="card_body">
                            asdafhkasf
                        </div>
                        <div class="card_footer">
                            asfkjsklfja
                        </div>
                    </a>
                    <a class="card">
                        <div class="card_body">
                            asdafhkasf
                        </div>
                        <div class="card_footer">
                            asfkjsklfja
                        </div>
                    </a>
                    <a class="card">
                        <div class="card_body">
                            asdafhkasf
                        </div>
                        <div class="card_footer">
                            asfkjsklfja
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>
